REACT_APP_NAME_KEY=Loopity
REACT_APP_NAME_TITLE=app

# Language

REACT_APP_DEFAULT_LANGUAGE=en

REACT_APP_BASE_URL=http://localhost:3000

REACT_APP_API_BASE_URL=https://loopity-api-dev.codiantdev.com/api
REACT_APP_BACKEND_BASE_URL=

REACT_APP_DATE_FORMAT=DD-MM-YYYY
REACT_APP_IMAGE_PATH="/assets/images/frontend"
REACT_APP_ADMIN_IMAGE_PATH="/assets/images/admin"


# In MB

REACT_APP_IMAGE_UPLOAD_SIZE_LIMIT=

# https://github.com/facebook/create-react-app/issues/2787#issuecomment-434943749

GENERATE_SOURCEMAP=false